/**
 * Created by Wojtek on 2017-10-19.
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$material-blue: #00bcd4;
* {
  font-family: 'Roboto', sans-serif !important;
}
body {

  background: blue;
  height:100vh;
}